.formControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.formControl input {
  width: 38rem;
  margin-left: 1rem;
  outline: none;
  border: 1px solid #75d125;
  border-radius: 5px;
  color: #75d125;
  background: transparent;
  padding: 15px 25px;
}

.formControl input:focus {
  border: 3px solid #75d125;
}

